body {
    background-color: #fff;
    margin: 0;
}

.sectio1Span {
    color: #FF2E63;
}

.hederLogo {
    max-width: 255px;
    width: fit-content;
    height: 27px;
    color: #252A34;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}

.section1 {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.div__1 {
    display: flex;
    justify-content: space-between;
}

.div__text {
    width: 100%;
}

.divImg {
    position: relative;
    width: 100%;
}

.sectio1Img4 {
    position: absolute;
    padding-top: 37px;
    width: 55%;
    left: 29%;

}

.section1Text {
    font-size: 50px;
    font-weight: 700;
    padding-top: 80px;
}

.section1Auto {
    display: flex;
    max-width: 750px;
    width: 100%;
    margin-left: 0px;
    margin-top: 110px;
    position: absolute;
    z-index: 1;
}

.section1Button {
    width: 120px;
    height: 40px;
    background-color: #346CD9;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: 0px;
}

.spanAuto {
    color: #FF2E63;
}

.header {
    max-width: 1230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    margin-top: 22px;
}

.heder {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.mobileContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navHeder{
    display: flex;
    margin-right: 20px;
}

.ulHeder a {
    text-decoration: none;
    font-size: 14px;
    color: #252A34;
    transition: 0.3s;
}

.ulHeder a:hover {
    color: gray;
}

.ulHeder {
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 0;
    margin: 0 -15px;
}

.ulHeder li {
    list-style: none;
    padding: 0 15px;
}

.hederMenu {
    display: flex;
}

.hederLogin {
    color: #FF2E63;
    font-size: 16px;
    margin-right: 20px;
    width: 42px;
    height: 22px;
    transition: 0.3s;
    background-color: #fff;
    border: 0;
    padding-top: 8px;
}

.hederLogin:hover {
    color: black;
}

.hederButton {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    color: #fff;
    background-color: #FF2E63;
}

.hederButton:hover {
    background-color: #cb1040;
}

.burgerMenuDiv{
    display: none;
}

.button_container{
    display: flex;
}

.section1Button:hover {
    background-color: dodgerblue;
}

.section2H2 {
    max-width: 350px;
    width: 100%;
    font-size: 36px;
    color: #343434;
    margin-left: 15px;
}

.section2Div {
    width: 100%;
    margin-left: 15px;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    margin-right: 15px;
}

.section2divImg img {
    width: 100%;
}

.sectionH2Audi {
    font-size: 20px;
    color: #252A34;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.sectiohH2Dolars {
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolarsSection2 {
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.section2Text {
    font-size: 14px;
    color: #343434;
    padding-left: 20px;
    width: 150px;
}

.texTopDiv {
    color: #252A34;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.section2 {
    max-width: 1230px;
    width: 100%;
    height: 370px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.div2Dolars {
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolarsMustang {
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.div2text {
    font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.divDolar {
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.spanDolar {
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.divText {
    font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.divPorshe {
    color: #252A34;
    font-size: 20px;
    margin-left: 20px;
}

.dolar {
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolar_span {
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.div4text {
    font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.some_class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #346CD9;
    position: relative;
    border-radius: 10px 0;
}

.some_class span {
    position: relative;
    width: 15px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}

.some_class span::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    top: -3px;
    right: -4px;
    background-color: #fff;
    transform: rotate(43deg);
}

.some_class span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 4px;
    right: -2px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-40deg);
}


.bottomConteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textSection3 {
    font-size: 36px;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 60px;
}

.img1 {
    margin-left: 156px;
}

.section {
    margin: 0 auto;
}

.section3Div {
    display: flex;
    margin-left: 119px;
    align-items: center;
    max-width: 1028px;
}

.section3Strilka {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 10px 0;
}

.section3Strilka1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 10px 0;
}

.section3Strilka1 span {
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #585858;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}

.section3Strilka1 span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: -5px;
    right: -4px;
    background-color: #585858;
    transform: rotate(41deg);
}

.section3Strilka1 span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: 7px;
    right: -2px;
    background-color: #585858;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-36deg);
}


.section3Strilka span {
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #585858;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}

.section3Strilka span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: -5px;
    right: -4px;
    background-color: #585858;
    transform: rotate(41deg);
}

.section3Strilka span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: 7px;
    right: -2px;
    background-color: #585858;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-36deg);
}

.section3Img {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section3Text1 {
    font-size: 16px;
    color: #343434;
    text-align: center;
    margin: 0 auto;
}

.sectionText {
    display: flex;
    margin-left: 7px;
    max-width: 1260px;
}

.section3 {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pTextSection3 {
    align-items: center;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    margin: 0;
}

.slider {
    display: flex;
}

.sliderSection {
    margin: 0 auto;
}

.sliderText {
    text-align: center;
    font-size: 20px;
    color: #343434;
    margin: 0 auto;
    font-weight: 500;
}

.slick-next:before {
    position: relative;
}

.slick-prev {
    position: relative;
    left: -5px;
}


.slick-dotted.slick-slider {
    max-width: 1200px;
    background: rgba(52, 108, 217, 0.12);
    width: 100%;
    margin: 0 auto;
    max-height: 400px;
    height: 100%;
}


.subtaitle {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.slaiderTextSpan {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    color: #343434;
    font-size: 16px;
    padding-bottom: 40px;
}

.slick-dots li {
    background: rgba(255, 46, 99, 0.33);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.slick-dots .slick-active {
    background-color: transparent;
    background-color: #FF2E63;
}

.slick-dots {
    bottom: 60px;
    max-width: 200px;
    width: 100%;
    position: absolute;
    right: 70%;
}

.section3Logo {
    margin-top: 100px;
    font-size: 36px;
    color: #343434;
    font-weight: 700;
    margin-left: 15px;
}

.section4Img {
    width: 100%;
    height: 100%;
}

.divLogoAuto {
    margin-left: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-right: 15px;
}

.section3Auto {
    margin-left: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-right: 15px;
}

.textAutoS4 {
    color: #252A34;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.textAutoS3 {
    color: #343434;
    font-size: 14px;
    padding-left: 20px;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #346CD9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLogo {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    padding-top: 6px;
    margin-left: 55px;
    max-width: 158px;
    width: 100%;
}

.ulText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section4 {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.ulLi {
    display: flex;
    margin-right: 55px;
}

.ultext {
    max-width: 735px;
    width: 100%;
}

.ulLi a {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    list-style-type: none;
    transition: 0.3s;
    text-decoration: none;
}

.ulLi li {
    list-style: none;
    padding-left: 30px;

}

.ulLi a:hover {
    color: #343434;
}

.footerBottom {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.divImgSlider {
    max-width: 650px;
    width: 100%;
}

.logobottom {
    text-decoration: none;
}

@media (max-width: 1250px) {
    .div__text{
        padding-left: 15px;
    }

    .hederLogo{
        padding-left: 15px;
    }

    .hederButton{
        margin-right: 15px;
    }
}

@media (min-width: 1240px) {
    .hederLogin {
        margin-right: 30px;
        margin-left: 100px;
    }
}

@media (max-width: 1100px) {
    .mobileContainer{
        width: 100%;
    }
    .heder{
        width: 77%;
    }
}

@media (max-width: 1024px) {

    .ulHeder{
        margin: 0 -10px;
    }

    .ulHeder li{
        padding: 10px;
    }

    .sliderText {
        margin: 0 23px;
        padding-top: 20px;
    }

    .slick-dots {
        bottom: 20px;
        right: 75%;
    }

    .slaiderTextSpan {
        padding-bottom: 30px;
    }

    .hederButton {
        margin-right: 20px;
    }

    .section1Text {
        margin: 0;
        font-size: 47px;
    }

    .section1Auto {
        margin-top: 74px;

    }

    .divImgSlider {
        max-width: 636px;
        width: 100%;
    }

    .hederLogo {
        width: 200px;
        font-weight: bold;
    }

    .ulHeder a {
        padding-top: 10px;
    }

    .ulHeder {
        margin: 0;
    }

    .texTopDiv {
        font-size: 18px;
    }
}


@media (max-width: 990px) {

    .header._activee.ulHeder{
        overflow: hidden;
    }

    .divImg {
        margin-top: 35px;
    }

    body._activee {
        overflow: hidden;
    }

    .section2._activee {
        display: none;
    }

    .section2Div .slick-slide .slick-active {
        min-width: 280px;
    }


    .hederLogo{
        position: absolute;
        top: 10px;
        left: 0;
    }

    .header {
        width: 100%;
        height: 100vh;
        max-height: 55px;
        background-color: ivory;
        position: fixed;
        z-index: 100;
        margin-top: 0px;
        overflow: scroll;
        transition: 0.5s;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .header::after {
        content: '';
        width: 100%;
        height: 70px;
        max-height: 55px;
        background-color: ivory;
        position: absolute;
        top: 0;
        transition: 0.5s;
        z-index: -1;
    }

    .header._activee::after {
        background-color: #FF2E63;
    }

    .heder{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .header._activee .heder{
        margin-top: 70px;
    }

    .header._activee{
        max-height: 100vh;
    }

    .burgerMenu {
        overflow: auto;
    }

    .mobileContainer{
        display: flex;
        position: absolute;
        flex-direction: column;
        left: -100%;
        top: 0;
        transition: 0.3s;
        padding-left: 20px;
        flex-wrap: nowrap;
    }

    .header._activee .mobileContainer {
        left: 0;
        background-color: #fff;
        max-width: 990px;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s;
        align-items: baseline;
        justify-content: flex-start;
    }

    .navHeder {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        margin-bottom: 30px;
    }

    .ulHeder{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        flex-wrap: nowrap;
    }

    .ulHeder a {
        color: #343434;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 30px;
        padding: 0;
    }

    .slick-dotted.slick-slider {
        max-height: 365px;
        height: 100%;
    }

    .burgerMenuDiv {
        position: absolute;
        display: flex;
        width: 24px;
        height: 24px;
        background-color: #FF2E63;
        align-items: center;
        top: 14px;
        right: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burgerMenuDiv span {
        background-color: #fff;
        width: 16px;
        height: 3px;
        display: block;
        border-radius: 7px;
        transition: all 0.3s ease 0s;
    }

    .burgerMenuDiv:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 16px;
        height: 3px;
        bottom: 5px;
        z-index: 3;
        border-radius: 7px;
        transition: all 0.3s ease 0s;
    }

    .burgerMenuDiv:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 16px;
        height: 3px;
        top: 5px;
        display: block;
        z-index: 6;
        border-radius: 7px;
        transition: all 0.3s ease 0s;
    }

    .header._activee .burgerMenuDiv {
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        top: 14px;
        right: 20px;
    }

    .header._activee .burgerMenuDiv::before {
        transform: rotate(45deg);
        bottom: 10px;
        background-color: #FF2E63;
    }

    .header._activee .burgerMenuDiv span {
        background-color: transparent;
    }

    .header._activee .burgerMenuDiv::after {
        transform: rotate(-45deg);
        top: 11px;
        background-color: #FF2E63;
    }

    .section1Text {
        padding-top: 100px;
        padding-bottom: 15px;
    }

    .header._activee {
        position: fixed;
        left: 0;
        top: 0;
        transition: 0.5s;
        z-index: 100;
    }

    .header._activee .hederLogo{
        color: #fff;
        transition: 0.5s;
    }

    .header._activee .spanAuto{
        color: #fff;
        transition: 0.5s;
    }

    .section1Logo._activee {
        color: #fff;
        align-items: center;
        margin-bottom: 47px;
        transition: 0.3s;
    }

    .burger_span._activee {
        background-color: black;
    }

    .heder._activee{
        transition: 0.3s;
    }

    .imageAuto {
        display: flex;
        flex-wrap: wrap;
    }

    .divImgSlider {
        max-width: 580px;
        width: 100%;
        min-height: 363px;
    }

    .sliderText {
        margin: 0;
        padding-top: 0;
    }


    .footer {
        flex-direction: column;
        height: 100%;
        display: block;
    }

    .footerLogo {
        margin-bottom: 30px;
        margin-top: 16px;
        margin-left: 16px;
    }

    .ulLi {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .ulLi li {
        padding-bottom: 20px;
        padding-left: 16px;
    }

    .pTextSection3{
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .section1Text {
        margin-top: 0;
    }

    .section1Auto {
        margin-left: 0px;
    }

    .sectio1Img4 {
        margin: 0px;
    }

    .ultext {
        max-width: 525px;
        width: 100%;
    }

    .section3Text1 {
        margin-bottom: 35px;
    }

    .sectionText {
        display: flex;
        flex-wrap: wrap;
    }

    .divImgSlider {
        max-width: 426px;
    }

    .section2 {
        margin-bottom: 161px;
    }

    .slick-dots {
        right: 65%;
    }

    .ulLi {
        margin-right: 0px;
        flex-wrap: wrap;
    }

    .ulLi li {
        padding-top: 5px;
    }
}

@media (max-width: 715px) {
    .section3Strilka1 {
        display: none;
    }

    .pTextSection3{
        font-size: 16px;
    }
}

@media (max-width: 610px) {

    .div__1 {
        flex-wrap: wrap;
    }

    .slick-slide img.divImgSlider {
        display: none;
    }

    .sliderText {
        margin: 0 auto;
        padding-top: 40px;
    }

    .slick-dots {
        right: 35%;
    }

    .subtaitle {
        margin-bottom: 60px;
    }

    .divImg {
        margin-bottom: 235px;
    }

    .footer {
        height: 100%;
    }
}

@media (max-width: 485px) {
    .sectionText {
        flex-direction: column;
    }

    .section3Strilka {
        transform: rotate(90deg);
        position: relative;
        top: -15px;
        left: 48%;
        margin-top: 5px;
    }

    .section3Strilka1 {
        display: block;
    }

    .section3Strilka1 {
        transform: rotate(90deg);
        position: relative;
        top: -15px;
        left: 43%;
        margin-top: 5px;
    }
}

@media (max-width: 425px) {

    .section1Text {
        font-size: 45px;
    }

    .slick-dots {
        right: 28%;
    }

    .section2 {
        margin-bottom: 100px;
    }

    .footerLogo {
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer {
        flex-direction: column;
    }

    .ulLi {
        padding-left: 0;
        flex-direction: column;
    }

    .sectio1Img4 {
        margin-left: 0;
        padding-right: 60px;
    }
}

@media(max-width: 375px) {

    .section3Strilka {
        right: 155px;
    }

    .section1Text {
        font-size: 38px;
    }

    .divImg {
        margin-bottom: 150px;
    }

    .slick-dots {
        right: 24%;
    }

    .sectio1Img4 {
        max-width: 250px;
        padding-right: 51px;
    }

    .section4Img {
        min-width: 280px;
    }

    .section2H2 {
        font-size: 32px;
        max-width: 280px;
        width: 100%;
    }
}

@media(max-width: 320px) {
    .section1Text {
        font-size: 36px;
    }

    .section3Strilka {
        right: 50%;
    }

    .section1Text {
        font-size: 36px;
    }

}