body{
    background-color: #fff;
}

.sectio1Span{
    color: #FF2E63;
}

.hederLogo{
    max-width:255px;
    width: 100%;
    height: 27px;
    color: #252A34;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.section1{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.div__1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.divImg{
    position: relative;
}

.sectio1Img4{
    padding-top: 37px;
    margin-left: 195px;
    padding-right: 122px;

}

.section1Text{
    font-size: 50px;
    font-weight: 700;
    padding-top: 100px;
}

.section1Auto{
    display: flex;
    max-width: 750px;
    width: 100%;
    margin-left: 0px;
    margin-top: 110px;
    position: absolute;
}

.section1Button{
    width: 120px;
    height: 40px;
    background-color: #346CD9;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border-color: #346CD9;
}

.spanAuto{
    color: #FF2E63;
}

.header{
    max-width: 1230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.heder{
    display: flex;
    margin-top: 30px;
    max-width: 1230px;
    width: 100%;
}

.ulHeder a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 14px;
    color: #252A34;
}

.ulHeder{
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    width: 100%;
    margin-top: 10px;
    padding-left: 110px;
}

.hederLogin{
    color: #FF2E63;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 30px;
}

.hederButton{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border-color: #FF2E63;
    font-size: 16px;
    color: #fff;
    background-color: #FF2E63;
    margin-right: 55px;
}

.hederButton:hover{
    background-color: #cb1040;
}

.section1Button:hover{
    background-color:dodgerblue;
}

.section2H2{
    max-width: 350px;
    width: 100%;
    font-size: 36px;
    color: #343434;
}

.section2Div{
    margin-left: 30px;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.slick-slide img{
    width: 100%;
    min-width: 280px;
}

.sectionH2Audi{
    font-size: 20px;
    color: #252A34;
    font-weight: 700px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.sectiohH2Dolars{
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolarsSection2{
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.section2Text{
    font-size: 14px;
    color: #343434;
    padding-left: 20px;
    width: 150px;
}

.texTopDiv{
    color: #252A34;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.section2{
    max-width: 1230px;
    width: 100%;
    height: 370px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.div2Dolars{
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolarsMustang{
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999; 
}

.div2text{
     font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.divDolar{
     color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.spanDolar{
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999; 
}

.divText{
    font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.divPorshe{
    color: #252A34;
    font-size: 20px;
    margin-left: 20px;
}

.section2Div{
    min-width: 280px;
}

.dolar{
    color: #FF2E63;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dolar_span{
    text-decoration-line: line-through;
    font-size: 20px;
    color: #999999;
}

.div4text{
    font-size: 14px;
    color: #343434;
    margin-left: 20px;
}

.some_class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #346CD9;
    position: relative;
    border-radius: 10px 0;
}

.some_class span{
    position: relative;
    width: 15px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}

 .some_class span::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 3px;
    top: -3px;
    right: -4px;
    background-color: #fff;
    transform: rotate(43deg);
}

.some_class span::before{
     content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 5px;
    right: -2px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-43deg);
}


.bottomConteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textSection3{
    font-size: 36px;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 60px;
}

.img1{
    margin-left: 156px;
}

.section{
    margin: 0 auto;
}

.section3Div{
    display: flex;
    margin-left: 119px;
    align-items: center;
    max-width: 1028px;
}

.section3Strilka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 10px 0;
}

.section3Strilka span{
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #585858;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}

.section3Strilka span::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: -5px;
    right: -4px;
    background-color: #585858;
    transform: rotate(41deg);
}

.section3Strilka span::before{
    content: '';
   position: absolute;
   width: 20px;
   height: 3px;
   top: 7px;
   right: -2px;
   background-color: #585858;
   box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
   transform: rotate(-36deg);
}

.section3Img{
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section3Text1{
    font-size:16px;
    color: #343434;
    text-align: center;
    margin: 0 auto;
}

.sectionText{
    display: flex;
    margin-left: 7px;
    max-width: 1260px;
}

.section3{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pTextSection3{
    align-items: center;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    margin: 0;
}

.slider{
    display: flex;
}

.sliderSection{
    margin: 0 auto;
}

.sliderText{
    text-align: center;
    font-size: 20px;
    color: #343434;
    margin: 0 112px;
    padding-top: 50px;
}

.slick-next:before{
    position: relative;
}

.slick-prev{
    position: relative;
    left: -5px;
}


.slick-dotted.slick-slider{
    max-width: 1200px;
    background: rgba(52, 108, 217, 0.12);
    width: 100%;
    margin: 0 auto;
    max-height: 400px;
    height: 100%;
}


.subtaitle{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.slaiderTextSpan{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    color: #343434;
    font-size: 16px;
    padding-bottom: 130px;
}

.slick-dots li{
    background: rgba(255, 46, 99, 0.33);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.slick-dots .slick-active{
    background-color: transparent;
    background-color: #FF2E63;
}

.slick-dots{
    bottom: 100px;
    margin: 0 170px;
    max-width: 200px; 
    width: 100%;
}

.section3Logo{
    margin-top: 100px;
    font-size: 36px;
    color: #343434;
    font-weight: 700;
}

.sliderBottom{
    display: block;
    max-width: 1280px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.section4Img{
    max-width: 270px;
    width: 100%;
    height: 100%;
}

.divLogoAuto{
    max-width: 270px;
    width: 100%;
    max-height: 288px;
    height: 100%;
    margin-left: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 100px
}

.section3Auto{
    margin-left: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 100px;
}

.textAutoS4{
    color: #252A34;
    font-size: 20px;
    font-weight: 700;
}

.textAutoS3{
    color: #343434;
    font-size: 14px;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: #346CD9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footerLogo{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    padding-top: 6px;
    margin-left: 55px;
}

.ulText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section4{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.ulLi{
    display: flex;
    margin-right: 55px;
}

.ultext{
    max-width: 735px;
    width: 100%;
}

.ulLi li{
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    list-style-type: none;
    padding-left: 30px;
}

.footerBottom{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.divImgSlider{
    max-width: 650px;
    width: 100%;
}

/* .slick-slide{
    min-width: 280px;
    width: 100%;
} */

@media (max-width: 1024px){

    .sliderText{
        margin: 0 23px;
        padding-top: 20px;
    }

    .slick-dots{
        bottom: 20px;
    }
    
    .slaiderTextSpan{
        padding-bottom: 30px;
    }

    .ulHeder{
        padding-left: 70px;
    }

    .hederButton{
        margin-right: 20px;
    }

    .div__text{
        padding-left: 20px;
    }
    
    .section1Text{
        margin: 0;
    }

    .sectio1Img4{
        padding-top: 0px;
        margin-left: 230px;

    }

    .section1Auto{
        margin-top: 74px;
    
    }

    .divImgSlider{
        max-width: 636px;
        width: 100%;
    }

    .hederLogo{
        width: 200px;
        padding-left: 20px;
        padding-bottom: 41px;
        font-weight: bold;
    }

    .ulHeder a{
        padding-top: 10px;
    }
    .ulHeder{
        margin: 0;
    }

    .texTopDiv{
        font-size: 18px;
    }

    .slick-dots{
        margin: 0 67px;
    }

}


@media (max-width: 830px){

    .heder{
        max-width: 830px;
        width: 100%;
        margin-top: 0;
    }

    .hederLogo._activee{
        color: #fff;
    }

    .section2Div .slick-slide .slick-active{
        min-width: 280px;
    }

    .header{
        width: 100%;
    }

    .ulHeder{
        display: flex;
        position: absolute;
        flex-direction: column;
        left: -100%;
        top: 0;
        transition: 0.3s;
        padding: 0; 
    }

    .ulHeder a{
        color: #343434;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 30px;
        padding-left: 20px;
    }

    .hederLogin{
        position: absolute;
        left: 0;
        right: 0;
    }

    .hederButton{
        position: absolute;
    }

    .ulHeder._activee{
        top: 0;
        left: 0;
        background-color: #fff;
        max-width: 850px;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        margin-top: 48px;
        position: fixed;
        z-index: 10;
        transition: 0.3s;
    }
    .burgerMenuDiv{
        position: absolute;
        display: flex;
        width: 24px;
        height: 24px;
        background-color: #FF2E63;
        align-items: center;
        right: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burgerMenuDiv span{
        background-color: #fff;
        width: 16px;
        height: 3px;
        display: block;
        border-radius: 7px;
        position: fixed;
    }

    .burgerMenuDiv:before{
        content: '';
        background-color: #fff;
        position: fixed;
        width: 16px;
        height: 3px;
        top: 12px;
        z-index: 3;
        border-radius: 7px;
    }

    .burgerMenuDiv:after{
        content: '';
        background-color: #fff;
        position: fixed;
        width: 16px;
        height: 3px;
        top: 26px;
        display: block;
        z-index: 6;
        border-radius: 7px;
    }

    .burgerMenuDiv._activee{
        width: 24px;
        height: 24px;
        background-color: #fff;
        margin-top: 6px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    .burgerMenuDiv._activee::before{
        transform: rotate(49deg);
        top: 25px;
        transition: all 0.3s ease 0s;
        background-color: black;
    }

    .burgerMenuDiv._activee span{
        transform: rotate(-49deg);
        top: 25px;
        transition: all 0.3s ease 0s;
    }

    .burgerMenuDiv._activee::after{
        transform: scale(0);
    }

    .hederButton{
        display: flex;
        position: absolute;
        flex-direction: column;
        left: -100%;
        top: 0;
        transition: 0.3s;
        margin-top: 470px;
    }

    .hederButton._activee{
       left: 0;
       top: 0;
       align-items: center;
       justify-content: center;
       position: absolute;
       z-index: 10;
       margin-left: 20px;
    }

    .hederLogin{
        display: flex;
        position: absolute;
        flex-direction: column;
        left: -100%;
        top: 0;
        transition: 0.3s;
        margin-top: 482px;
        margin-left: 100px
    }
    
    .hederLogin._activee{
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        padding: 0;
        margin-left: 170px;
    }

    .section1Text{
        padding-top: 50px;
    }

    .header._activee{
        position: fixed;
        background-color: #FF2E63;
        height: 55px;
        left: 0;
        top: 0;
    }

    .navHeder{
        background-color: aqua;
    }

    .spanAuto._activee{
        color: #fff;
    }

    .section1Logo._activee{
        color: #fff;
        align-items: center;
        margin-bottom: 47px;
        transition: 0.3s;
    }

    .burger_span._activee{
        background-color: black;
    }

    .heder._activee{
        margin-top: 30px;
        transition: 0.3s;
    }

    .imageAuto{
        display: flex;
        flex-wrap: wrap;
    }

    .divImgSlider{
        max-width: 460px;
        width: 100%;
        margin-top: 24px;
        min-height: 355px;
    }

    .sliderText{
        margin: 0;
        padding-top: 0;
    }

    .slick-dots{
        margin: 0px -14px
    }

    .divImg._activee{
        display: contents;
    }

    .section1Auto._activee{
        display: contents;
    }
}

@media (max-width: 768px){

    .section1Text{
        margin-top: 0;
    }

    .section1Auto{
        margin-left: 0px;
    }

    .sectio1Img4{
        margin-left: 60px;
    }

    .ultext{
        max-width: 525px;
        width: 100%;
    }

    .slick-dots {
        margin: 0px 15px;
    }

    .section3Text1{
        margin: 0;
    }

    .sectionText{
        display: flex;
        flex-wrap: wrap;
    }

    .ulLi{
        margin-right: 0px;
        flex-wrap: wrap;
    }

    .ulLi li{
        padding-top: 5px;
    }
}

@media (max-width: 610px){

    .section3Auto{
        max-width: 280px;
        width: 100%;
    }

    .slick-slide img.divImgSlider {
        display: none;
    }

    .sliderText{
        margin: 0 auto;
        padding-top: 40px;
    }

    .slick-dots{
        margin: 0px 180px;
    }

    .subtaitle{
        margin-bottom: 60px;
    } 

    .sectio1Img4{
        max-width: 300px;
        margin-left: 50px;
        padding-right: 78px;
    }
}

@media (max-width: 425px){

    .section3Strilka{
        transform: rotate(90deg);
        position: relative;
        top: 181px;
        right: 175px;
        margin-top: 5px;
    }

    .pTextSection3{
        padding-bottom: 110px;
    }

    .section3Text1{
        margin: 0 auto;
    }

    .slick-dots{
        margin: 0 100px;
    }

    .footerLogo{
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer{
        flex-direction: column;
    }

    .ulLi{
        padding-left: 0;
        flex-direction: column;
    }

    .footerLogo{
        margin-left: -168px;
    }

    .sectio1Img4{
        margin-left: 0;
        padding-right: 60px;
    }
}

@media(max-width: 375px) {

    .section3Strilka{
        right: 155px;
    }
    .section1Text{
        font-size: 38px;
    } 

    .footerLogo{
        margin-left: -125px;
    }

    .sectio1Img4{
        max-width: 250px;
        padding-right: 51px;
    }

    .section4Img{
        min-width: 280px;
    }
}

@media(max-width: 320px){
    .section1Text{
        font-size: 36px;
    }

    .footerLogo{
        margin-left: -70px;
    }

    .section3Strilka{
        right: 145px;
    }

    .section1Text{
        font-size: 36px;
    } 
    
}
